/* Search button */
#action-container .button {
    width: 100px;
    height: 40px;
    background: #f3f0f1;
    margin: 25px 0;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#action-container .button span {
    line-height: 40px;
    font-size: 15px;
    font-weight: semibold;
}
#action-container .button {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
}
#action-container .button:hover {
    opacity: 0.7;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
}
#action-container .button:active {
    opacity: 1;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    color: #79e3b6;
}
