.slider-container {
    font-weight: 300;
    color: #394a56;
    display: flex;
    justify-content: center;
    align-items: center;
}
#speed-slider {
    direction: rtl;
}

input[type='range'] {
    /* To remove default styles appplied by webkit browsers */
    -webkit-appearance: none;

    width: 80%;
    background: transparent;
    position: relative;
}

input[type='range']:focus {
    /* To remove default (mostly blue) outline appplied by browsers on :focus */
    outline: 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 26px;
    height: 26px;
    margin: 6px 0;
    background: hsl(27, 98%, 50%);
    border-radius: 100%;
    box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.4),
        inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.2),
        0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

/*All the same stuff for firefox */
input[type='range']::-moz-range-thumb {
    width: 26px;
    height: 26px;
    margin: 6px 0;
    background: #fd8421;
    border-radius: 100%;
    box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.4),
        inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.2),
        0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: 0;
}

/* RUNNABLE TRACK -> represented by the indented carve in which the ball (thumb) moves */
/* Webkit browsers */
input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    width: 100%;
    height: 38px;
    padding: 0 6px;
    border-radius: 26px;

    /* These shadow are what create the skeumorphic indent on the track. The first one is dark to show places in the indent that light don't reach and the second one shows places where light meets thereby creating the illusion of depth */
    box-shadow: 1px 2px 4px 0px var(--l-shadow) inset, -1px -2px 2px 0px var(--l-light) inset;
}
/* For firefox */
input[type='range']::-moz-range-track {
    background: transparent;
    width: 100%;
    height: 38px;
    padding: 0 6px;
    border-radius: 26px;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}
