html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid-container {
    background: var(--l-neutral);
    display: block;
    flex: 1;
    border-radius: 12px;
    width: 95%;
    padding: 8px;
    margin-bottom: 40px;
    box-shadow: inset 4px 4px 16px -7px var(--l-light),
        inset -7px -7px 9px -6px var(--l-shadow),
        6px 6px 12px 1px var(--l-shadow);
}
#action-container {
    margin: 16px 0;
    display: grid;
    width: 95%;
}
#action-container > .label {
    grid-area: toggle;
}
#action-container > .select {
    grid-area: select;
    justify-self: center;
}
#action-container > #speed {
    grid-area: speed;
}
#action-container > #size {
    grid-area: size;
}
#action-container > #theme {
    grid-area: theme;
}
#action-container > #search {
    grid-area: search;
    justify-self: end;
}

table {
    border-collapse: collapse;
    border-radius: 12px;
}

td {
    border: 1px solid #a2b1ca;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-outne;
}


table td:first-child {
    border-left: none;
}
table td:last-child {
    border-right: none;
}
table tr:first-child td {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}

table tr:first-child td:first-child {
    border-top-left-radius: 8px;
}
table tr:first-child td:last-child {
    border-top-right-radius: 8px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

td:hover {
    background-color: #a29ff5 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #action-container {
        grid-template-areas:
            'toggle theme search'
            'speed speed speed'
            'size size size'
            'select select select';
        gap: 12px;
        /* grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 3fr 3fr; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 560px) {
    #action-container {
        grid-template-areas:
            'toggle select theme search'
            'speed speed size size';
        gap: 12px;
        /* grid-template-rows: 1fr 1fr;*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    #action-container {
        grid-template-areas: 'toggle speed size select theme search ';
        gap: 20px;
        grid-template-columns: 1fr 3fr 3.2fr 2fr 1fr 2fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    ...;
} */
