html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f0f1;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid-container {
    flex: 1;
    border-radius: 12px;
    width: 95%;
    padding: 8px;
    margin-bottom: 4px;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset,
        inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.4),
        inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.2);
}
#action-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
table {
    border-collapse: collapse;
    border-radius: 12px;
}

td {
    border: 1px solid #a2b1ca;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
table td:first-child {
    border-left: none;
}
table td:last-child {
    border-right: none;
}
table tr:first-child td {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}

table tr:first-child td:first-child {
    border-top-left-radius: 8px;
}
table tr:first-child td:last-child {
    border-top-right-radius: 8px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

td:hover {
    background-color: #a29ff5 !important;
}
